@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital@1&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
}
.container {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/BannerImage.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  background-size: 80vw;
}
.container .bannner * {
  margin-bottom: 10px;
}
#bro {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#bruh {
  width: 632px;
  color: #fff;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 0.9;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
#bruh1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bruh2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 3;
}
#bruh3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9;
}
#newyearbanner {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  margin-bottom: 100px;
}
.title * {
  margin-bottom: 10px;
}
.container1 {
  width: 83%;
  max-width: 1320px;
  margin: auto auto;
  background-image: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vw;
  padding-left: 200px;
  margin-bottom: 100px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .bannertext * {
  margin-bottom: 10px;
}
.banner .bannertext h1 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7px;
}

.banner .bannertext p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
button {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 28px;
  border-radius: 5px;
  border: none;
  background-color: black;
}
button:hover {
  background-color: greenyellow;
  color: red;
}
#blabla {
  max-width: 230px;
  max-height: 500px;
}
.bannerimg {
  width: 440px;
  height: 365px;
  margin-right: 260px;
  margin-top: 70px;
}
.details {
  width: 100%;
  background-color: red;
}
span {
  color: red;
}
#btn {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: red;
}
.details {
  border-radius: 10px;
  background-color: #fef7f3;
  height: 235px;
  width: 80%;
  margin-left: 130px;
  margin-bottom: 70px;
}
.details .details1 {
  padding: 35px;
}
.details .details1 #title1 {
  margin-bottom: 20px;
}

.newsletter {
  border-radius: 10px;
  background-color: #fef7f3;
  height: 335px;
  width: 72%;
  margin-left: 130px;
  margin-bottom: 70px;
  padding: 55px;
}
.newsletter1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.newsletter .newsletter1 > img {
  width: 150px;
  height: 150px;
}
.newsletter .newsletter1 > h3 {
  color: #070211;

  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.newsletter .newsletter1 > p {
  color: rgba(7, 2, 17, 0.6);

  text-align: center;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.newsletter .newsletter1 .btn4 {
  padding: 10px;
  font-size: 17px;
  border: none;
  width: 55%;
  background: white;
  border-radius: 25px;
}
.newsletter .newsletter1 .btn5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding: 10px;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}
